
body {
	margin: 0;
}

#canvas {
	position: absolute;
	top: 5vh;
	left: 5vw;
	width: 90vw;
	height: 90vh;
	border-radius: 40px;
}

@font-face {
	font-family: 'Pong Font';
	src: url(fonts/PONG-Regular.otf);
  }

.score {
	position: absolute;
	top: 1vh;
	font-size: 20vh;
	font-family: 'Pong Font', sans-serif;
	color: #FFFFFFFF;
	z-index: 100;
	display:block;
}