
body {
	margin: 0;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Pong Font';
	src: url(fonts/PONG-Regular.otf);
  }

.score {
	position: absolute;
	top: 1vh;
	font-size: 20vh;
	font-family: 'Pong Font', sans-serif;
	text-align: center;
	color: #FFFFFFFF;
	z-index: 100;
	display:block;
}